.chart {

    margin-top: 2rem;
    text-align: center;
    margin: 2rem auto;
    align-items: center;
    display: flex;
    justify-content: center;

    .col_filter {
        .select {
            margin-left: 1rem;
        }
    }

    .doanhthu1 {
        text-align: center;
        // border: 2px solid rgb(107, 87, 87);
        background-color: rgb(216, 213, 26);
        border-radius: 5px;
        height: 15rem;
        align-items: center;

        .title {
            color: rgb(255, 255, 255);
            margin-top: 3rem;
            font-weight: 500;
            font-size: 2.5rem;
        }

    }
}

.filterRow {
    border-radius: 5px;

    .doanhthu_ticket {
        text-align: center;

        border-radius: 5px;
        height: 10rem;
        background-color: rgb(204, 119, 119);
        align-items: center;
        margin: 2rem auto 4rem;

        .title {
            margin: 0 auto;
            display: flex;
            margin-top: 2.2rem;
            justify-content: center;
            font-size: 2rem;
            font-weight: 600;
            color: aliceblue;
        }
    }
    .doanhthu_sum{
        text-align: center;
        
            border-radius: 5px;
            height: 10rem;
            background-color: rgb(35, 171, 224);
            align-items: center;
            margin: 2rem auto 4rem;
        
            .title {
                margin: 0 auto;
                display: flex;
                margin-top: 2.2rem;
                justify-content: center;
                font-size: 2rem;
                font-weight: 600;
                color: aliceblue;
            }
    }

   
}

.line {
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 1rem auto;

}

.doanhthu {
    text-align: center;
    border: 2px solid rgb(204, 119, 119);
    border-radius: 5px;
    height: 20rem;
    align-items: center;

    .title {
        margin-top: 5rem;
        font-weight: 500;
        font-size: 2.5rem;
    }

}

.row_chart {
    text-align: center;

    .col_chart {
        align-items: center;
        align-content: center;
        margin: 0 auto;
        text-align: center;

        .row {
            margin-top: 2rem;
            text-align: center;
            margin: 2rem auto;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

}

.title_table {
    font-size: 1rem;
    font-style: italic;
    color: rgb(221, 62, 62);
    margin-bottom: 3rem;
}

.title_home {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(226, 48, 48);
}
 .date {
     margin-top: 4rem;
     margin-left: 1rem;
     text-align: center;
     font-size: 1.5rem;

 }
 .doanhthu_year{
    border: 1px solid rgb(161, 47, 47);
    border-radius: 10px;
 }