.doanhthu {
    text-align: center;
    border: 2px solid rgb(204, 119, 119);
    border-radius: 5px;
    height: 20rem;
    align-items: center;

    .title {
        margin-top: 5rem;
        font-weight: 500;
        font-size: 2.5rem;
    }

}