@import '../../../styles/mixin';

.title {
    text-align: center;
    margin-top: 7rem;

    @include screen_xs {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

.list_theater {

    width: 70%;
    margin: 2rem auto 5rem;
    text-align: left;
    white-space: pre-line;
    font-size: 3rem;

    @include screen_xs {
        width: 100%;
        margin: 0 0.5rem;
    }

    .img {
        @include screen_xs {
            width: 90%;
            margin: 0 0.5rem;
        }

        // .content {
        //     font-size: 1.2rem;
        //     line-height: 2rem;
        //     @include screen_xs{
        //         width: 100%;
        //         height: 70vh;
        //         background-color: red;
        //     }
        // }

    }
}

.content {
    font-size: 1.2rem;
    line-height: 2rem;

    @include screen_xs {
        // width: 100%;
        width: 40vh;
    }
}