.title {
    text-align: center;
    margin-top: 7rem;
}

.list_history {
    width: 70%;
    margin: 2rem auto 5rem;
    text-align: left;
    white-space: pre-line;
    font-size: 3rem;

    .content {
        font-size: 1.2rem;
        line-height: 2rem;
    }

}