@import '../../../styles/mixin';

.title {
    text-align: center;
    margin-top: 7rem;

    @include screen_sm {
        margin-top: 6rem;
    }
}

.list_history {
    width: 70%;
    margin: 2rem auto 5rem;
    text-align: left;
    white-space: pre-line;
    font-size: 3rem;

    .content {
        font-size: 1.2rem;
        line-height: 2rem;
    }

}

.list {

    margin: 2rem auto;
    width: 50%;

    @include screen_md {
        width: 70%;
    }

    .list_item {
        margin-top: 2rem;
        border: 1px solid rgb(214, 55, 55) !important;
        border-radius: 10px;

        .list_qrCode {
            width: 100% !important;
            height: 100% !important;
        }
    }
}



.mess {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    height: 50vh;
}