@import '../../../styles/mixin';

.title {
    text-align: center;
    margin-top: 7rem;
}

.list_theater {

    width: 70%;
    margin: 2rem auto 5rem;
    text-align: left;
    white-space: pre-line;
    font-size: 3rem;

    .content {
        font-size: 1.2rem;
        line-height: 2rem;
    }

}

.list_movie {
    text-align: center;
    margin: 7rem 3rem 0rem;
}

.img_header {
    margin-left: 10rem;
}

.btn_login_auth {
    height: 2.5rem;
    border: 1px solid rgb(216, 108, 108);
    margin-right: 3rem;
    padding: 0 2rem;
    font-size: 1.1rem;

}

.btn_logout_auth {
    height: 2.5rem;
    border: 1px solid rgb(216, 108, 108);
    padding: 0 2rem;
    font-size: 1.1rem;
    margin-right: 5rem;
}



.list_search {
    @include screen_sm {
        width: 100%;
        margin-left: -4rem;
    }

    .list {
        margin: 2rem 4rem !important;
        white-space: pre-line;

        @include screen_sm {
            width: 100%;
        }

        .card_item {
            .meta {
                margin-bottom: 2rem;
                font-size: 3rem !important;
                text-align: center;
            }
        }



        .btnMovie {
            text-align: center;

            @include screen_sm {
                width: 150%;
                margin: 0 auto;
                text-align: center;
                align-items: center;
                margin-left: -3rem;
            }

            .book_ticket {
                margin-left: 1rem;
                background-color: rgb(185, 65, 65);
                text-align: right;
                justify-items: right;
                padding: 0rem 2rem;
                height: 3rem;
                color: rgb(204, 218, 230);
                font-size: 1.4rem;
                border: none;

                &:hover {
                    background-color: rgb(99, 75, 204);
                }

                @include screen_sm {

                    font-size: 1rem;
                    padding: 0 0.5rem;
                    margin: 0 auto;
                    margin-right: 0.5rem;
                    height: 2rem;
                }
            }

        }

    }
}


//modal detail 
.modal_detail {
    .modal_title {
        color: rgb(221, 25, 25);
        text-transform: uppercase;
        text-align: center;
        font-size: 1.9rem;
        padding-bottom: 1rem;
    }

    .col_content {
        .movie_title_name {
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 1.5rem;

        }

        .movie_title {
            font-weight: 600;
            padding-top: 1rem;
            font-size: 1.1rem;

            span {
                font-weight: 400;
                padding-left: 1rem;
                font-size: 1.1rem;
            }
        }

        .btn {
            justify-content: center;
            text-align: center;
            align-items: center;

            .book_ticket {
                margin-top: 1rem;
                background-color: rgb(53, 197, 197);
                padding: 0 2rem;
                height: 3rem;
                font-size: 1.3rem;
                border-radius: 2rem;
                border: none;

                &:hover {
                    color: white;
                }
            }
        }

    }

    .content {
        padding-top: 2rem;
        font-size: 1.1rem;
        width: 70%;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}

//bookticker
.title_book {
    text-align: center;
    font-size: 2rem;
}

.step {
    margin-top: 1rem;
    padding: 1rem 19rem;

}

.btn_next {
    font-size: 1.2rem;
    padding: 0 2rem;
    height: 2.5rem;
}




.link {
    p {
        font-size: 1.3rem;
        margin-top: 7rem;
        margin-left: 4rem;
    }

}


.search {
    align-items: center;
    width: 50%;

    @include screen_sm {
        width: 100%;
        margin-top: 2rem;
    }

}

.list_movie_ {
    margin-top: 3rem;
    font-size: 2.3rem;
    font-weight: 600;

    @include screen_sm {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

.none_movie {
    color: rgb(201, 74, 74);
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    @include screen_sm{
        font-size: 1rem;
        margin: 1rem 0;
    }
}