@import '../../styles/mixin';

.contanier {
    height: 100vh;
    background-image: url(../../../public/Sneaker_20Store.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

    @include screen_sm {
        background-image: none;
    }

    .login {
        margin: auto;
        background: rgb(255, 255, 255);
        border: 1px solid #d1b0b0;
        width: 68%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        text-align: center;
        padding-top: 2rem;

        @include screen_md {
            width: 90%;
            height: 40%;
        }

        @include screen_sm {
            width: 100%;
            height: 65%;
            border: none;
            display: flex;
        }

        .imgLogin {
            @include screen_sm {
                order: 2;
                margin-top: 1rem;
                display: none;
            }

            margin-left: 1rem;
            object-fit: cover;

            .img {
                object-fit: cover;
                width: 95%;

            }
        }

        .context {
            @include screen_sm {
                order: 1;
            }

            .title {
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 2.5rem;
                line-height: 2rem;
                color: #212121;

                @include screen_md {

                    font-size: 2rem;
                }

                @include screen_sm {
                    margin-left: -9rem;
                    margin-top: -2rem;
                    font-size: 2rem;
                    width: 250% !important;
                }
            }

            .form {
                padding: 0 1.5rem;
                width: 100%;

                @include screen_sm {
                    margin-top: 2rem;
                    width: 180%;
                    margin-left: -5rem;
                }

                .form1 {
                    margin-top: 0.6rem;
                    width: 100%;

                    .form_item {
                        font-weight: 500;
                        font-size: 1rem;
                    }

                    .form_input {
                        width: 100%;
                        height: 3rem;
                    }
                }

                .remember {
                    display: flex;
                    width: 50rem;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    padding-right: 41rem;

                    .rememberItem {
                        color: #454645;
                    }
                }

                .forgotPassword {
                    color: #2e2e2e;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                .btnLogin {
                    width: 100%;
                    height: 3rem;
                    background: rgba(239, 80, 80, 1);
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 24px;

                }

                p {
                    text-align: center;
                    margin: 1rem auto;
                }

                .login_diffrent {
                    display: flex;

                    .LoginGoogle {
                        width: 50%;
                        margin-right: 1rem;
                    }

                    .LoginGib {
                        width: 50%;
                    }
                }
            }
        }
    }

}

.title_register {
    text-align: center;
    align-items: center;

    .register {
        cursor: pointer;
        color: red;
    }
}

.vadidate {
    float: left;
}

.text_error {
    color: rgb(202, 55, 55);

    margin-top: 1rem;
}